<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Burger Sling</title>
    <meta charset="utf-8"/> <!-- This is a useless comment -->
  </head>
  <body>
    <main>
      <header id="banner">
	<h1 class="header1">Welcome to Burger Sling</h1>
	<img id="bannerpic" src="https://i.ya-webdesign.com/images/png-white-banner-4.png" title="page banner">
      </header>
      <section id="burgerselect">
	<h2 class="header2">Select a burger</h2>
	<div class="wrapper" id="bs">
	  <div v-for="burger in menu">
	    <h3> {{ burger.name }} </h3>
	    <img class="img" v-bind:src="burger.img">
	    <ul>
	      <li> {{ burger.description }} </li>
	      <li v-if="burger.lactose"> Contains lactose </li>
	      <li v-if="burger.gluten"> Contains gluten </li>
	    </ul>
	</div>
      </section>
      <section id="contact">
	<h2>Billing Details</h2>
	<form>
	  <p>
	    <label for="full name">Full name*</label><br>
	    <input type="text" id="full name" name="name" required="required" placeholder="First- and Last name" />
	  </p>
	  <p>
	    <label for="E-mail">E-mail*</label><br>
	    <input type="text" id="email" name="email" required="required" placeholder="E-mail adress" />
	  </p>
	  <p>
	    <label for="street name">Street*</label><br>
	    <input type="text" id="streetname" name="sn" required="required" placeholder="Street name" />
	  </p>
	  <p>
	    <label for="house number">Number*</label><br>
	    <input type="number" id="house number" name="hn" required="required" placeholder="House number" />
	  </p>
	  <p>
	    <label for="Payment option">Payment option*</label><br>
	    <select id="payment option" name="po">
	      <option selected="selected">Debit Card</option>
	      <option>Paypal</option>
	      <option>Swish</option>
	      <option>Direct Bank Transfer</option>
	    </select>
	  </p>
	  <p>
	    <label for="gender">Gender*</label><br>
	    <input type="radio" id="male" name="gender">
	    <label for="male">Male</label><br>
	    <input type="radio" id="female" name="gender">
	    <label for="female">Female</label><br>
	    <input type="radio" id="other" name="gender">
	    <label for="other">Other</label><br>
	    <input type="radio" id="prefer not to say" name="gender" checked="checked">
	    <label for="prefer not to say">Prefer not to say</label><br>
	    
	    <button id="submitbutton" type="submit"><img src="https://clipartart.com/images/check-mark-clipart-transparent.jpg" width="12" heigth="12"/>Send</button>
	    <small><p>*Fields with an asterisk are mandatory</p></small>
	</form>
      </section>
      <hr>
      <footer>
	<p>© Burger Sling Co. 2020-2020</p>
      </footer>
    </main>
  </body>
</html>
