@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: arial;
    font-size: 14pt;
}

.header {
    text-align: center;
}

#gluten {
    font-weight: bold;
}

#burgerselect {
    color: white;
    background: black;
}

#contact {

}

input[type="radio"] {
    height: 1.5em;
    width: 1.5em;
}

button:hover {
    background-color: lightgreen;
    cursor:pointer;
}
