@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: arial;
    font-size: 14pt;
    margin: 0 auto;
}

.header {
    text-align: center;
}

table {
    margin: auto;
    width: 1.5vw;
}

#burgpic {
    width: 300;
}

#gluten {
    font-weight: bold;
}

#burgerselect {
    color: white;
    background: black;
    margin: 30px;
    border: 2px dashed white;
}

#contact {
    border: 3px dashed black;
    margin: 30px;
    padding-left: 25px;
}

input[type="radio"] {
    height: 1.5em;
    width: 1.5em;
}

button {
    margin: 10px 4px;
}

button:hover {
    background-color: lightgreen;
    cursor:pointer;
}

footer {
    margin: 5px 30px;
}
